extends ../layouts/default

mixin post(post)
	.blog-desc(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
		h1: a(href='/blog/post/' + post.slug)= post.title
		ul.post-meta-links.list-inline
			if post.publishedDate
				li
					
					a(href='#')
						span
							i.fa.fa-bookmark
						| #{post._.publishedDate.format('MMMM Do, YYYY')}
			if post.author
				li
					
					a(href='#')
						span
							i.fa.fa-user
						| #{post.author.name.first}
			if post.categories && post.categories.length
				li
					a
						span
							i.fa.fa-bookmark
						each cat, i in post.categories
							a(href='/blog/' + cat.key)= cat.name
							if i < post.categories.length - 1
								| ,  
							else
								| 
			li
				a(href='#')
					span
						i.fa.fa-comments
					| 23
		if post.image.exists
			img(src=post._.image.fit(300,300)).img.text-center
		p!= post.content.brief
		p
		if post.content.extended
			p.read-more: a(href='/blog/post/' + post.slug) Read more...

block intro
	.container
		h1= data.category ? data.category.name : 'Blog'

block content
	.container: .row
		.col-sm-8.col-md-8
			if filters.category && !data.category
				h3.text-muted Invalid Category.
			else
				if data.posts.results.length
					if data.posts.totalPages > 1
						h4.text-weight-normal Showing 
							strong #{data.posts.first}
							|  to 
							strong #{data.posts.last}
							|  of 
							strong #{data.posts.total}
							|  posts.
					else
						h4.text-weight-normal Showing #{utils.plural(data.posts.results.length, '* post')}.
					br
					.blog
						each post in data.posts.results
							+post(post)
					
					if data.posts.totalPages > 1
						ul.pagination
							if data.posts.previous
								li: a(href='?page=' + data.posts.previous): span.glyphicon.glyphicon-chevron-left
							else
								li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left
							each p, i in data.posts.pages
								li(class=data.posts.currentPage == p ? 'active' : null)
									a(href='?page=' + (p == '...' ? (i ? data.posts.totalPages : 1) : p ))= p
							if data.posts.next
								li: a(href='?page=' + data.posts.next): span.glyphicon.glyphicon-chevron-right
							else
								li.disabled: a(href='?page=' + data.posts.totalPages): span.entypo.glyphicon.glyphicon-chevron-right
				else
					if data.category
						h4.text-muted There are no posts in the category #{data.category.name}.
					else
						h4.text-muted There are no posts yet.
		
		if data.categories.length
			.col-sm-4.col-md-4
				.clearfix
				.blog-catagory
					h4 Blog categories
					ul
						li
							a(href='/blog', class=!data.category ? 'active' : false)
								i.fa.fa-angle-right
								|  All Categories
								span.badge 14
						each cat in data.categories
							li
								a(href='/blog/' + cat.key, class=data.category && data.category.id == cat.id ? 'active' : false)
									i.fa.fa-angle-right
									= cat.name
									span.badge 14
				// blog catagory end
				.clearfix
				.right-tags
					h4 Tags
					hr
					.footer_menu.tags
						a(href='#')  Design
						a(href='#')  User Interface
						a(href='#')  Graphics
						a(href='#')  Web Design
						a(href='#')  Development
						a(href='#')  Asp.net
						a(href='#')  Bootstrap
						a(href='#')  Joomla
						a(href='#')  SEO
						a(href='#')  Wordepress
