extends ../layouts/default

block content
	// Slider start
	section#slider_part
		#carousel-example-generic.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators.text-center
				li.active(data-target='#carousel-example-generic', data-slide-to='0')
				li(data-target='#carousel-example-generic', data-slide-to='1')
				li(data-target='#carousel-example-generic', data-slide-to='2')
			.carousel-inner
				.item.active
					.overlay-slide
						img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449177/slide1_ijbwli.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated2
								b The place
							.line
							p.animated3 where your ideas become reality
				.item
					.overlay-slide
						img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449177/slide3_vzz0f0.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								b Professionals
							.line
							p.animated2 changing the world with you
				.item
					.overlay-slide
						img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449180/slide2_wkgyf2.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								b Technology Innovations
							.line
							p.animated2 serving your business
			// End Carousel Inner
		// Controls
		.slides-control
			a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
				span
					i.fa.fa-angle-left
			a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
				span
					i.fa.fa-angle-right
	// Slider end
	// Service Area start
	section#service
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Services
						h4.feature_sub
							| Full range of IT services in one place. A perfect match for any idea.
						.divider
				// Col-md-12 End
				.row
					.main_feature.text-center
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-laptop
								h5 Application Development
								p.text-justify
									| The basis of any project and the most solid part of our services. Internet applications and cloud based solutions are the future of business. Whether it is an e-commerce website, a cutting-edge startup or even a basic landing page.
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-mobile
								h5 Mobile Development
								p.text-justify
									| Mobile solutions are integral part of our lives. Mobile is always with you, wherever you go, whenever you need it. Open incredible market opprotunities for your business. Make one step forward providing services to customers.
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-desktop
								h5 IT Consulting
								p.text-justify
									| Years of successfull experience in software development field gives us a chance to share our knowledge with others! Experiencing any problems in your business? Looking for profesional advice? We can help you.
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-list-alt
								h5 Technical Support
								p.text-justify
									| Running out of resources and capacity? Need some additional help expanding your business? Delegate your tasks to a team of highly motivated professionals! Outsourcing proven itself as a great way to optimize business processes.
						// Col-md-4 Single_feature End
				// Row End
		// Container End
		// Service Area End
	section#portfolio
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Works
						h4.feature_sub This is what we do. This is how we do. This is what we are proud of!
						.divider
				// Col-md-12 End
				// Col-md-12 End
				#owl-demo.owl-carousel.owl-theme.team-items
					.item
						.col-md-8
							img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449016/everythere_utxhkg.jpg')
						.col-md-4
							h4 Everythere
							p.port-desc
								| Everythere is a precise location-aware mobile app and an amazing engagement tool harnessing off the power of GPS and iBeacon technology to connect real world places and objects with digital interpretation and communication. 
							p.tech-list.italic
								h5 Technologies used:
								em Parse Cloud System, Backbone.js, Underscore.js, Node.js
							p.port-link
								a(href="http://everythere.com.au", target="_blank") www.everythere.com.au
					.item
						.col-md-8
							img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449016/swishd_m3eui7.png')
						.col-md-4
							h4 Swishd
							p.port-desc
								| Swishd makes convenient delivery affordable and simple for everyone. 
								| Intelligent allocation and maximised utilisation ensures that those making deliveries (Swishrs) enjoy increased earnings whilst users of the service benefit from lower costs.
							p.tech-list.italic
								h5 Technologies used:
								em Node.js, Express.js, MongoDB, Mongoose, Angular.JS, Twitter Bootstrap, Amazon Services
							p.port-link
								a(href="http://swishd.com", target="_blank") www.swishd.com
					.item
						.col-md-8
							img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449016/streamspread_iqugpq.png')
						.col-md-4
							h4 StreamSpread
							p.port-desc
								| StreamSpread is a first self-service promotion network that distributes streaming video content in real-time across websites.
								| Live Stream Promotion Network for enabling users to promote Advertiser’s live stream and monetize the Publisher’s websites through a fully customized platform and dedicated support team.
							p.tech-list.italic
								h5 Technologies used:
								em Python, Flask, Angular.JS, Heroku, Docker, Twitter Bootstrap
							p.port-link
								a(href="https://streamspread.com", target="_blank") www.streamspread.com
					.item
						.col-md-8
							img.img-responsive(src='http://res.cloudinary.com/sksirius/image/upload/v1459449019/the8app_hgf2qw.png')
						.col-md-4
							h4 The8App
							p.port-desc
								| The 8 App is a social multimedia platform built to inspire and empower you to own your individual voice. 
								| The 8 App Ad Marketplace enables you to connect directly to brands, which means that for the first time, you will be able to accept or decline ads, earn 80% of the ad revenue then pay it forward to a charity if you choose.
							p.tech-list
								h5 Technologies used:
								em ASP.NET MVC, ASP.NET Web API, SignalR, Twitter Bootstrap, Knockout.js
							p.port-link
								a(href="https://the8app.com", target="_blank") www.the8app.com
		// Conatiner Team end
	// Section TEam End
	.clearfix
	// About us start
	section#about
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| What 
							b We use
						h4.feature_sub Fast and reliable technologies, proven by successful business cases implementation
						.divider
			.row.text-center.tech-stack
				.col-md-4
					h4 .NET Framework Stack
					img(src='/images/portfolio/net.png')
					p.desc-item.text-justify
						| Enterprise applications and complex systems. Solid, safe and proven by years.
						| The .NET Framework and .NET Core provide a comprehensive programming model for building all kinds of applications, from mobile to web to desktop
						| A wide variety of application types: MVC applications, Web API, real-time solutions, desktop applications and many more.
						| The best choice for big ideas and ambicious targets.
				.col-md-4.mobile
					h4 Mobile Development
					img(src='/images/portfolio/Ionic-Framework1.png')
					p.desc-item.text-justify 
						| Cross-platform hybrid or native application development.
						| Save your time by delivering super-fast mobile apps with the same code base for any platform!
						| Ionic allows to create javascript hybrid solutions for mobile devices and tablets.
						| Fast and reliable solutions for tiny projects and prototypes.
						| Xamarin comes in place when you need it native and complex. One programming language for any platform.
				.col-md-4.mean
					h4 MEAN Stack
					p
						img(src='/images/portfolio/mongodb.png')
						img(src='/images/portfolio/express.png')
					p
						img(src='/images/portfolio/angular.png')
						img(src='/images/portfolio/node.png')
					p.desc-item.text-justify 
						| Lightweight set of Javascript frameworks tend to be used for rapid application development.
						| Node.js in conjunction with MongoDB gives a great scalability and effectiveness.
						| A great choice for Single Page Applications (SPA) and real-time web projects.
						| Prototype at a speed of light and rapidly deliver project releases!
						| If you need a lightweight, fast and scalable solution - this is a perfect choice for you.
	// About us End
	// Counter Strat
	section#counter_area
		.facts
			.container
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-thumbs-o-up.fa-3x.fw
							.facts-wrap-num
								span.counter 31
						h6 Clients
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-gift.fa-3x.fw
							.facts-wrap-num
								span.counter 10
						h6 Support
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-check-square-o.fa-3x.fw
							.facts-wrap-num
								span.counter 17
						h6 Projects
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-envelope-o.fa-3x.fw
							.facts-wrap-num
								span.counter 22
						h6 Consulting
			// Conatainer End
		// Fact div ENd
	// Counter End
	// bLOG Start
	section#blog
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.feature_header.text-center
					h3.feature_title
						a(href='/blog/all') 
							| Our 
							b Blog
					h4.feature_sub Watch latest tech trends. Stay informed. Listen to the voice of professionals.
					.divider
			// Col-md-12 End
		.row
			.blog-timeline
				#owl-blog.owl-carousel.owl-theme
					each post in data.posts.results
						.item
							.single_blog
								.post_img.text-center
									a(href='/blog/post/' + post.slug)
										if post.image && post.image.url.length > 0
											img(src=post._.image.fit(300,300)).img-responsive
										else
											img(src='http://res.cloudinary.com/sksirius/image/upload/v1459449193/pexels-photo_hfvvtf.jpg')
									.post-date
										span #{post._.publishedDate.format('DD')}
										|  #{post._.publishedDate.format('MMMM')}
								a(href='/blog/post/' + post.slug)
									h4= post.title
								ul.list-inline
									li
										i.fa.fa-pencil
										|  #{post.author.name.first}
								p!= post.content.brief
			// blog Timeline End
	// bLOG End
	section#contact
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Keep In 
							b touch
						h4.feature_sub Have an idea? Need some extra help? Contact us and let's jump into details.
						.divider
			.row
				if enquirySubmitted
					.col-md-12.text-center
						h4 Thanks for getting in touch. We will contact you shortly.
				else
					.contact_full
						form(action='/#contact', method='post')
							.validation-summary.text-center
								if validationErrors.name
									label.has-error.text-danger
										| Name is required. 
								if validationErrors.email
									label.has-error.text-danger
										| Email is required. 
								if validationErrors.message
									label.has-error.text-danger
										| Message is required. 
							.col-md-6.left
								.left_contact
									input(type='hidden', name='action', value='/#contact')
									.form-level.form-group(class=validationErrors.name ? 'has-error' : null)
										input#name.form-control.input-block(name='name.full', value=formData['name.full'], placeholder='Name', type='text')
										span.form-icon.fa.fa-user
									.form-level.form-group(class=validationErrors.email ? 'has-error' : null)
										input#mail.form-control.input-block(name='email', value=formData.email, placeholder='Email', type='email')
										span.form-icon.fa.fa-envelope-o
									.form-level.form-group
										input#phone.form-control.input-block(name='phone', value=formData.phone, placeholder='Phone (optional)', type='text')
										span.form-icon.fa.fa-phone
							.col-md-6.right
								.form-level.form-group(class=validationErrors.message ? 'has-error' : null)
									textarea#messege.form-control.textarea-block(name='message', rows='7', placeholder='message')= formData.message
									span.form-icon.fa.fa-pencil
							.col-md-12.text-center
								button(type='submit').btn.btn-main.featured Submit Now