extends ../layouts/default

block content
	// Slider start
	section#slider_part
		#carousel-example-generic.carousel.slide(data-ride='carousel')
			// Indicators
			ol.carousel-indicators.text-center
				li.active(data-target='#carousel-example-generic', data-slide-to='0')
				li(data-target='#carousel-example-generic', data-slide-to='1')
				li(data-target='#carousel-example-generic', data-slide-to='2')
			.carousel-inner
				.item.active
					.overlay-slide
						img.img-responsive(src='images/banner/slide1.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated2
								b A place
								|  where your
							.line
							p.animated3 ideas come true
				.item
					.overlay-slide
						img.img-responsive(src='images/banner/slide3.jpeg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								| Professionals 
								b changing
							.line
							p.animated2 the world together
				.item
					.overlay-slide
						img.img-responsive(src='images/banner/slide2.jpg', alt='')
					.carousel-caption
						.col-md-12.col-xs-12.text-center
							h2 ReFactory
							h3.animated3
								| Rapid application 
								b development
							.line
							p.animated2 Fast and Precise
			// End Carousel Inner
		// Controls
		.slides-control
			a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
				span
					i.fa.fa-angle-left
			a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
				span
					i.fa.fa-angle-right
	// Slider end
	// Service Area start
	section#service
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Services
						h4.feature_sub
							| What we do
							br
							| Imagine you need one of the following sevices... Wait! You need it!
						.divider
				// Col-md-12 End
				.row
					.main_feature.text-center
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-laptop
								h5 Application Development
								p
									| The most solid part of our services. Basically you come to us with idea or requirements and we transform it into working business.
								button.btn.btn-main  Read More
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-mobile
								h5 Mobile Development
								p
									| Mobile is everywhere. Wherever you go, whenever you need information. We are surrounded by mobile solutions. Move one step forward and create cross-platform mobile app.
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-desktop
								h5 IT Consulting
								p
									| Years of experience in software development field gives us a chance to share our knowledge with others! Having any problems? In doubt how to progress? We can help you.
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
						.col-md-3.col-xs-12.col-sm-6
							.feature_content
								i.fa.fa-list-alt
								h5 Technical Support
								p
									| Running out of resources and capacity? Feel free to ask us for help in case you need more free hands!
								button.btn.btn-main  Read More
						// Col-md-4 Single_feature End
				// Row End
		// Container End
		// Service Area End
	section#team
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Our 
							b Works
						h4.feature_sub This is what we do. This is how we do. This is what we are proud of!
						.divider
				// Col-md-12 End
				// Col-md-12 End
				#owl-demo.owl-carousel.owl-theme.team-items
					.item
						h4 Everythere
						img(src='/images/works/everythere.jpg')
					.item
						h4 Swishd
						img(src='/images/works/swishd.png')
					.item
						h4 StreamSpread
						img(src='/images/works/streamspread.png')
					.item
						h4 The8App
						img(src='/images/works/the8app.png')
		// Conatiner Team end
	// Section TEam End
	.clearfix
	// About us start
	section#about
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| What 
							b We do
						h4.feature_sub Newest and safest. Proven by years.
						.divider
			.row.text-center.tech-stack
				.col-md-6 
					h4 .NET Framework Stack
					img(src='/images/portfolio/net.png')
				.col-md-6 
					h4 Mobile Development
					img(src='/images/portfolio/Ionic-Framework.png')
			.row.text-center.tech-stack.mean
				.col-md-8.col-md-offset-2 
					h4 MEAN Stack
					img(src='/images/portfolio/mongodb.png')
					img(src='/images/portfolio/express.png')
					img(src='/images/portfolio/angular.png')
					img(src='/images/portfolio/node.png')
	// About us End
	// Counter Strat
	section#counter_area
		.facts
			.container
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-thumbs-o-up.fa-3x.fw
							.facts-wrap-num
								span.counter 31
						h6 Clients
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-gift.fa-3x.fw
							.facts-wrap-num
								span.counter 10
						h6 Support
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-check-square-o.fa-3x.fw
							.facts-wrap-num
								span.counter 17
						h6 Projects
				.col-md-3.col-xs-12.col-sm-6.columns
					.facts-wrap
						.graph
							.graph-left-side
								.graph-left-container
									.graph-left-half
							.graph-right-side
								.graph-right-container
									.graph-right-half
							i.fa.fa-envelope-o.fa-3x.fw
							.facts-wrap-num
								span.counter 22
						h6 Consulting
			// Conatainer End
		// Fact div ENd
	// Counter End
	// bLOG Start
	section#blog
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				.feature_header.text-center
					h3.feature_title
						a(href='/blog') 
							| Our 
							b Blog
					h4.feature_sub Watch latest tech trends. Stay alive. Listen to the voice of geeks.
					.divider
			// Col-md-12 End
		.row
			.blog-timeline
				#owl-blog.owl-carousel.owl-theme
					each post in data.posts.results
						.item
							.single_blog
								.post_img.text-center
									a(href='/blog/post/' + post.slug)
										img(src=post._.image.fit(300,300)).img-responsive
									.post-date
										span #{post._.publishedDate.format('DD')}
										|  #{post._.publishedDate.format('MMMM')}
								a(href='/blog/post/' + post.slug)
									h4= post.title
								ul.list-inline
									li
										i.fa.fa-pencil
										|  #{post.author.name.first}
									li
										i.fa.fa-comments
										|  12
								p!= post.content.brief
			// blog Timeline End
	// bLOG End
	section#contact
		.container
			.row
				.col-md-12.col-sm-12.col-xs-12
					.feature_header.text-center
						h3.feature_title
							| Keep In 
							b touch
						h4.feature_sub Have an idea? Feels like ready to rumble? Contact us and let's jump into details.
						.divider
			.row
				.contact_full
					.col-md-6.left
						.left_contact
							form(action='role')
								.form-level
									input#name.input-block(name='name', placeholder='Name', value='', type='text')
									span.form-icon.fa.fa-user
								.form-level
									input#mail.input-block(name='email', placeholder='Email', value='', type='email')
									span.form-icon.fa.fa-envelope-o
								.form-level
									input#phone.input-block(name='name', placeholder='Phone', value='', type='text')
									span.form-icon.fa.fa-phone
					.col-md-6.right
						.form-level
							textarea#messege.textarea-block(name='', rows='5', placeholder='message')
							span.form-icon.fa.fa-pencil
					.col-md-12.text-center
						button.btn.btn-main.featured Submit Now